<div id="homepage-headings">
    <h1>A comprehensive platform for Reliable</h1>
    <h3>Job Opportunities and Intenship</h3>
    <p>Get discovered. Get hired.</p>
    <div id="homepage-links">
        <a href="/jobs">I'm a Job Seeker</a>
    </div>
    <div id="homepage-links">
         <a href="/register">I'm a Recruiter</a>
    </div>
</div>